*.swp
*.db
.env
.ipynb_checkpoints/
__pycache__/
.gitignore
mkv_to_mp4.ipynb
renaming.ipynb
todo.txt
media/
app/wsgi_launcher.py
app/logs/
app/instance/
app/.ipynb_checkpoints/
app/__pycache__
README.md
tailscale_var_lib/
