<!DOCTYPE html>
<html>
<head>
<title>{{ movie_name }}</title>
<style>
    body {
        background-color: black;
        margin: 0;
    }
</style>
</head>
<body>
<div style="max-width: 100%; height: auto; display: block; margin: 0 auto; position: relative;">
    <video style="width: 100%; height: auto; max-height: 100vh; object-fit: contain;" controls>
        <source src="{{ video_url }}" type="video/mp4">
        <source src="{{ video_url }}" type="video/x-matroska">
        {% if has_subtitles %}
            <track src="{{ subtitle_url }}" kind="subtitles" srclang="en" label="English" default>
        {% endif %}
    </video>
</div>
</body>
</html>
